/* Global  To do: Adjust the styling so the game is more responsive on multiple devices*/

body {
    background-color: rgb(255, 208, 0);
    font-family: silkscreen;
    color: #27292b;
    text-align: center;

}

/* Heading */

.heading {
    text-align: center;
    font-size: 1.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

/* Layout */

.user-input {
    margin-top: auto;
}

.game-section {
    background-color: #d5d9dd;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.question-section {
    font-size: 1.3rem;
    margin: 20px 10px;
    padding: 50px 0;
}

.question-section span {
    padding: 0 15px;
}

.score-section {
    margin: 5px auto;
    width: 60%;
    font-size: 1.25rem;
}

.controls-section {
    width: 85%;
    margin: 30px auto;
    height: 160px;
}

#countDown {
    font-size: 70%;
    font-weight: lighter;

}

#score {
    color: rgb(96 174 0);
    font-weight: lighter;
}

#wrong {
    color: #ec4509;
    font-weight: lighter;
}

.answer-mobile {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 20px;
}

/* Buttons */

.button {
    width: 150px;
    height: 50px;
    font-family: "silkscreen";
    text-transform: uppercase;
    margin: 8px;
    letter-spacing: 1.5px;
    color: black;
}

.button:focus {
    outline: none;
}

.button--big {
    border-radius: 10%;
    background-color: darkslategray;
    border: 2px solid;
    width: 75px;
    height: 75px;
    font-size: 3.5rem;
    margin: 5px 30px;
    transition: all 0.5s;

}

.button--yellow {
    border-color: rgb(255, 208, 0);
    color: rgb(254, 254, 254);

}

.button--yellow:active,
.button--yellow:hover {
    background-color: darkorange;
    color: rgb(243, 252, 190);
}

.button--green {
    border-color: rgb(192, 235, 51);
    color: rgb(254, 254, 254);
}

.button--green:active,
.button--green:hover {
    background-color: rgb(28, 107, 38);
    color: black;
}

.button--gray {
    border-color: rgb(132, 132, 130);
    color: rgb(254, 254, 254);
}

.button--gray:active,
.button--gray:hover {
    background-color: rgb(62, 62, 61);
    color: black;
}

.button--black {
    border-color: rgb(140, 139, 138);
    color: rgb(254, 254, 254);
}

.button--black:active,
.button--black:hover {
    background-color: rgb(157, 157, 156);
    color: white;
}

.button--submit {
    border-color: rgb(140, 139, 138);
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(28, 107, 38);
}

.button--submit:active,
.button--submit:hover {

    color: white;
}

.button-disabled {
    background-color: red;
    cursor: not-allowed;
}

.instructions {
    background-color: #d5d9dd;
    box-sizing: border-box;
    justify-content: center;
    padding: 1%;
}

/* Media queries for different machines */

@media (max-width: 414px) {
    .controls-section {
        width: 100%;
    }

    .button--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .button--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-section {
        padding: 10% 0;
        width: 100%;
    }

    .question-section span {
        padding: 0;
    }

    .answer-mobile {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .button--gray {
        margin-top: 8px;
    }

    .score-section {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {

    .user-input {
        width: 75%;
        margin: 10px auto;
    }

    .game-section {
        height: 70vh;
    }

    .controls-section {
        width: 75%;
        margin: 10px auto;
    }

    .button--big {
        margin: 10px 10px;
    }

    .question-area {
        padding: 10px 0;
    }

}